* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background: #FE7743;
}

.top {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  padding-top: 100px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_card {
  width: 300px;
  height: 300px;
  position: relative;

  background: #fffefc;

  display: flex;
  flex-direction: column;

  /* spacing between notebook lines */


  padding: 10px 30px 20px 50px; /* left space for spiral */
  border-radius: 6px;

  box-shadow:
    inset 35px 0 0 rgba(255, 0, 0, 0.15),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    0 10px 25px rgba(0, 0, 0, 0.2);
}

.info_card:hover {
  transform: scale(1.05);
}

.info_card::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  width: 20px;

  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 3px,
    transparent 4px
  );

  background-size: 20px 28px; /* vertical spacing between holes */
  background-repeat: repeat-y;

  opacity: 0.6;
  pointer-events: none;
}

.line {
  position: relative;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

/* draw the actual ruled line */
.line::after {
  content: "";
  position: absolute;
  left: -50px; /* extends under margin area */
  right: -30px;
  bottom: 0;

  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.timeline {
  display: flex;              /* THIS makes it horizontal */
  gap: 80px;                  /* space between items */
  align-items: center;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3px;
  background: white;
}

.item {
  position: relative;
  margin: 60px 0;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
 }

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* centers it on node origin */
}

.label {
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: 0 0;
  transform: rotate(-45deg) translate(20px, -16px);

  white-space: nowrap;
  font-size: 20px;
  color: black;
  background: #D7D7D7;
}

.node {
  position: relative;
  width: 0;
  height: 0;
}

