#WEBSITE-DESIGN-VIEW {
  top: 8px;
  left: 420px;
  position: relative;
  overflow: hidden;
  min-width: 1000px;
  min-height: 2150px;
}


.wd-block {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px 15px;
  transition: transform .2s;

  background: #fffefc;
}

.wd-block:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: transform .2s;
}

.wd-pic {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.wd-text {
  position: absolute;
  font-family: "Patrick Hand", cursive;
  font-size: 16pt;
}



#wd-block1 {
  top: 25px;
  left: 20px;
  width: 265px;
  height: 400px;
}
#wd-pic1 {
  width: 225px;
  height: auto;
}


#wd-block2 {
  top: 110px;
  right: 200px;
  width: 340px;
  height: 325px;
}
#wd-pic2 {
  width: auto;
  height: 225px;
  position: absolute;
}


#wd-block3 {
  top: 530px;
  right: 50px;
  width: 340px;
  height: 325px;
}
#wd-pic3 {
  width: auto;
  height: 225px;
  position: absolute;
}


#wd-block4 {
  top: 680px;
  right: 530px;
  width: 340px;
  height: 325px;
}
#wd-pic4 {
  width: auto;
  height: 225px;
  position: absolute;
}


#wd-block5 {
  top: 1120px;
  right: 600px;
  width: 340px;
  height: 325px;
}
#wd-pic5 {
  width: auto;
  height: 225px;
  position: absolute;
}


#wd-block6 {
  top: 1350px;
  right: 100px;
  width: 340px;
  height: 325px;
}
#wd-pic6{
  width: auto;
  height: 225px;
  position: absolute;
}


#wd-block7 {
  top: 1750px;
  right: 350px;
  width: 265px;
  height: 370px;
}
#wd-pic7{
  width: 225px;
  height: auto;
  position: absolute;
}

#wd-connections {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
