.image-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  inset: 0;

  background: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;

  cursor: auto;

  object-fit: contain;
  border: 4px solid antiquewhite;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 30px;

  font-size: 90px;
  color: white;
  cursor: pointer;


  font-family: "Patrick Hand", cursive;
}

.close-modal:hover {
  transform: scale(1.1);
}

.zoomable-image {
  cursor: url("../img/search-icon_32.png") 32 32, zoom-in;
}
