<div class="film-strip">
  <div class="film">
    <div class="frame">
      <img src="https://picsum.photos/id/1015/180/120" alt="">
    </div>
    <div class="frame">
      <img src="https://picsum.photos/id/1025/180/120" alt="">
    </div>
    <div class="frame">
      <img src="https://picsum.photos/id/1035/180/120" alt="">
    </div>
    <div class="frame">
      <img src="https://picsum.photos/id/1045/180/120" alt="">
    </div>
    <div class="frame">
      <img src="https://picsum.photos/id/1055/180/120" alt="">
    </div>
  </div>
</div>
