<div class="timeline">
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_abitur">
        <span class="label_dot"></span>
        2022 Abitur 1,9
      </button>

    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_tudarmstadt">
        <span class="label_dot"></span>
        2022 Informatik TU-Darmstadt
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_mentoring">
        <span class="label_dot"></span>
        2023 Mentoring
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_seriousgames">
        <span class="label_dot"></span>
        2024 Serious-Games
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_wwdd">
        <span class="label_dot"></span>
        2024 Wrong-Way-Driving Detection
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_micromobility">
        <span class="label_dot"></span>
        2025 Micromobility
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_website">
        <span class="label_dot"></span>
        2026 Website-Entwicklung
      </button>
    </div>
  </div>
  <div class="item">
    <div class="node">
      <div class="timeline_dot"></div>
      <button class="label" id="label_bachelor">
        <span class="label_dot"></span>
        ~2027 Abschluss Bachelor
      </button>
    </div>
  </div>
</div>
